# 25-js
25-JS/js-project/node_modules

# react-tutorial

# dependencies
30-React/begin-react/node_modules
30-React/begin-react/.pnp
30-React/begin-react.pnp.js

# testing
30-React/begin-react/coverage

# production
30-React/begin-react/build

# misc
30-React/begin-react.DS_Store
30-React/begin-react.env.local
30-React/begin-react.env.development.local
30-React/begin-react.env.test.local
30-React/begin-react.env.production.local

30-React/begin-react/npm-debug.log*
30-React/begin-react/yarn-debug.log*
30-React/begin-react/yarn-error.log*
